@{
    ViewBag.Title = "DrawTogether";
}

<div class="jumbotron">
    <h1>DrawTogether</h1>
    <p class="lead">A collaborative drawing application.</p>
    <p>@Html.ActionLink("Log On »", "Index", "LogOn", null, new { @class = "btn btn-primary btn-lg" })</p>
    <!-- &raquo; » -->
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Create a Whiteboard</h2>
        <p>
            Log on by choosing a user name and a name for your whiteboard,
            then draw free-form sketches on your whiteboard.
        </p>
    </div>
    <div class="col-md-6">
        <h2>Join a Whiteboard</h2>
        <p>
            Enter the name of an existing whiteboard to draw collaboratively.
        </p>
    </div>
</div>